@media (max-width: 400px;) {
    .about-me {
        text-align: center;
    }
}

body {
    background: url(img/68.svg);
}




.carousel-inner img {
    margin: auto;
}

.main-container, .jumbotron {
    background-color: whitesmoke;
}